<template>
  <div class="page-container"></div>
</template>

<script>
  //组件引入:import 《组件名称》 from '《组件路径》';
  export default {
    //name: "{{ properCase name }}",
    //组件注册
    components: {},
    //指令注册
    directives: {},
    props: {},
    data() {
      //数据
      return {};
    },
    //计算属性
    computed: {},
    //监听属性
    watch: {},
    //创建完成
    created() {},
    //挂载完成
    mounted() {},
    //创建之前
    beforeCreate() {},
    //挂载之前
    beforeMount() {},
    //更新之前
    beforeUpdate() {},
    //更新之后
    updated() {},
    //销毁之前
    beforeDestroy() {},
    //销毁完成
    destroyed() {},
    //页面激活,
    activated() {},
    //方法
    methods: {},
  };
</script>
<style lang="scss" scoped>
  //@import url(); 引入css类
</style>
